<h1>Heroes<small>gorditos marvel  </small></h1>
<hr>
<div class="card-columns">

    <div class="card" *ngFor="let hero of heros; let i = index">
        <img class="card-img-top img-fluid" [src]="hero.img" [alt]="hero.nombre">
        <div class="card-block">
          <h5 class="card-title">{{ hero.nombre }}</h5>
          <p class="card-text">{{ hero.bio }}</p>
          <p class="card-text"><small class="text-muted">{{hero.aparicion}}</small></p>
          <button (click)="verHero(i)"
          type="button" class="btn btn-outline-primary btn-block">
            Ver más...
          </button>
          <!--<a [routerLink]="['/hero',i]"class="btn btn-outline-primary">Ver Más link....</a>-->

        </div>
      </div>
</div>